@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* colors */

  --white: #fff;
  --black: #000;

  /* green */

  --green-50: #9eff00;
  --green-60: #b1ff33;
  --green-70: #c5ff66;
  --green-80: #d8ff99;
  --green-90: #ecffcc;
  --green-95: #f5ffe5;
  --green-97: #f9fff0;
  --green-99: #fdfffa;

  /* grey */

  --grey-10: #1a1a1a;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #98989a;
  --grey-90: #e6e6e6;

  /* width */
  --wrapper-width: 1440px;
  --container-width: 1280px;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  h3 {
    color: var(--white);
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  body {
    max-block-size: 100vh;
    line-height: 1.6;
    font-family: 'Barlow', sans-serif;
    background-color: var(--grey-10);
    margin: 0 auto;
    height: -webkit-fill-available;
  }
  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  h1 {
    font-size: 3rem;
  }
  p,
  li {
    text-wrap: pretty;
  }
  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  a {
    text-decoration: none;
  }
  p {
    color: var(--white);
  }
  .wrapper {
    max-width: var(--wrapper-width);
    margin: 0 auto;
    background-color: var(--grey-10);
  }
  .container {
    max-width: var(--container-width);
    margin: 0 auto;
  }
}

@layer navbar {
  .nav-links {
    color: var(--grey-90);
    font-size: 14px;
    font-weight: 500;
    padding: 12px 22px;
  }
  .nav-links:hover {
    background-color: var(--grey-15);
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .header {
    padding: 20px 80px;
    border-bottom: 1px solid var(--grey-15);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .primary-nav {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    align-items: center;
    gap: 180px;
  }
  .primary-btn {
    padding: 12px 18px;
    border-radius: 6px;
    background-color: var(--green-50);
    color: var(--grey-15);
    font-size: 14px;
  }
  .primary-btn:hover {
    transform: translateY(-10%);
    box-shadow: 4px 10px 27px 0px var(--grey-20);
    transition: all 0.3s ease-in-out;
  }
}
@layer hero {
  .hero {
    background: url(assets/hero-homepage.png) center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 691px;
    padding-top: 112px;
    border-bottom: 1px solid var(--grey-15);
  }
  .navbar-btn {
    display: none;
  }
  .for-starters-mobile {
    display: none;
    padding: 18px 20px;
    background-color: #24242420;
    border: 1px solid var(--grey-15);
    border-radius: 8px;
  }
  .content-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  .for-starters {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 18px 30px;
    border: 1px solid var(--grey-15);
    border-radius: 8px;
    background-color: #24242420;
  }
  .primary-heading {
    color: var(--white);
    font-weight: 600;
  }
  .subtext {
    font-size: 18px;
    color: var(--grey-60);
  }
  .special-text {
    padding: 8px 10px;
    background-color: var(--grey-15);
    border-radius: 6px;
    font-size: 18px;
    color: var(--white);
  }
  .btn-container {
    display: flex;
    gap: 13px;
    align-items: center;
  }
  .secondary-btn {
    padding: 14px 20px;
    background-color: #242424;
    border: 1px solid var(--grey-20);
    border-radius: 8px;
    color: var(--white);
    font-size: 14px;
  }
  .secondary-btn:hover {
    transform: translateY(-10%);
    box-shadow: 4px 10px 27px 0px var(--grey-20);
    transition: all 0.3s ease-in-out;
  }
}
@layer companies {
  .companies {
    padding: 30px 0;
    background-color: #24242420;
    position: relative;
  }
  .company-logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    justify-items: center;
    align-content: center;
  }
  .content-header {
    margin: 0 auto;
    width: fit-content;
    background-color: var(--grey-10);
    padding: 14px 24px;
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    position: absolute;
    top: -23%;
    left: 41%;
  }
}
@layer services {
  .section-title {
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.651)),
      url(assets/test2.jpg) no-repeat center/cover;
  }
  .section-title p {
    text-align: center;
  }
  .sub-heading {
    font-size: 38px;
    font-weight: 600;
    color: var(--white);
  }
  .services-card {
    max-width: 426px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .services-card:nth-of-type(2) {
    border-left: 1px solid var(--grey-15);
    border-right: 1px solid var(--grey-15);
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .bottom {
    margin-top: auto;
  }
  .bottom .secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .card-container {
    display: flex;
    justify-content: center;
  }
}
@layer why-us {
  .why-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wu-card {
    padding: 60px;
    max-width: 639px;
  }

  /* .wu-card:first-of-type::after {
    content: "";
    position: absolute;
    width: 225%;
    height: 1px;
    background-color: var(--grey-15);
    bottom: 0;
    left: 0;
  }
  .wu-card:first-of-type::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 200%;
    background-color: var(--grey-15);
    top: 0;
    left: 105%;
  } */
  .card-title {
    margin-bottom: 30px;
  }
  .why-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-title {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}
@layer testimonial {
  .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .client-card {
    padding: 80px 60px;

    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .client-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .client-heading {
    font-size: 20px;
    font-weight: 600;
    color: var(--green-80);
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .client-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: #24242420;
    border: 1px solid var(--grey-15);
    border-radius: 6px;
  }
}
@layer faq {
  .faq-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center;
    justify-content: center; */
  }
  .faq-btn {
    cursor: pointer;
    transition: all 0.3s;
  }
  .faq-content {
    max-height: 0;
    overflow: hidden;

    transition: all 0.3s;
  }
  /* .faq-content p {
    padding-bottom: 50px;
  } */
  .left-faq {
    display: block;
  }
  .number {
    font-size: 24px;
    font-weight: 500;
    padding: 16px;
    max-height: 62px;
    background: linear-gradient(to bottom, #242424, #24242420);
    border-radius: 8px;
    transition: all 0.3s;
  }
  .faq-card {
    display: flex;
    /* align-items: center; */
    gap: 24px;
    padding: 30px 40px;
  }
  .btn-rotate {
    transform: rotate(44deg);
  }
  .group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .group-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .active {
    color: var(--green-70);
  }
}
@layer contact {
  .contact-form-container {
    padding: 0 217px 20px 217px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    padding: 60px;
  }

  .range-slider {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: var(--grey-30);
  }
  .slider-track {
    position: absolute;
    height: 100%;
    background-color: var(--green-50);
  }
  .range-slider input {
    position: absolute;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
  }
  input[type='range']::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background-color: var(--green-50);
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
  }
  input[type='range']::-moz-range-thumb {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid var(--white);
    background-color: var(--green-50);
    pointer-events: auto;
    -moz-appearance: none;
    cursor: pointer;
  }
  .tooltip {
    padding: 0.25rem 0.5rem;
    border: none;
    background-color: var(--grey-20);
    color: var(--white);
    font-size: 16px;
    line-height: 1.2;
    border-radius: 0.25rem;
    top: 120%;
    display: block;
    position: absolute;
    text-align: center;
    white-space: nowrap;
  }
  .min-tooltip {
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    z-index: 5;
  }
  .max-tooltip {
    right: 50%;
    transform: translateX(-50%) translateY(50%);
    z-index: 5;
  }
  .budget-title {
    margin-bottom: 50px;
  }
  .message {
    margin-top: 40px;
    padding: 40px;
    background-color: #24242420;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  input[type='text'] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-15);
    outline: none;
    color: var(--white);
  }
  input[type='checkbox'] {
    appearance: none;
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-15);
    border-radius: 8px;
  }
  input[type='checkbox']:checked {
    background-color: #9eff00;
    transition: all 0.3s ease;
  }
  .fullName-email {
    display: flex;
    gap: 40px;
  }
  .form {
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #24242420;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
  }
  .check {
    width: 100%;
    padding: 40px;
    background-color: #24242420;
    margin: 40px auto;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .check-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .budget-range {
    padding: 40px 40px 80px 40px;
    background-color: #24242420;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
  }
}
@layer footer {
  .footer {
    padding: 50px 162px;
    border-top: 1px solid var(--grey-15);
  }
  .footer-container {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--grey-15);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-nav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .socials {
    display: flex;
    align-items: center;
    padding: 14px;
    border: 1px solid var(--grey-15);
    gap: 10px;
    border-radius: 12px;
  }
  .footer-links {
    color: var(--grey-90);
    font-size: 14px;
    font-weight: 500;
    position: relative;
  }
  .footer-links::before {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--green-60);
    position: absolute;
    top: 130%;
    left: 0;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
  }
  .footer-links:hover::before {
    width: 100%;
  }
  .footer-contact {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-left {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

/* services page */

@layer design {
  .service-container {
    padding-top: 80px;
  }
  .services-heading {
    font-size: 38px;
    font-weight: 600;
    color: var(--white);
  }
  .services-card-container {
    padding-top: 40px;
  }
  .services-text {
    padding: 10px;
    background-color: var(--grey-15);
    border-radius: 6px;
    font-size: 18px;
    color: var(--white);
  }
  .services-subheading {
    font-size: 22px;
    font-weight: 500;
    color: var(--grey-60);
    padding-left: 40px;
  }
  .services-card {
    max-width: 320px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border: 1px solid var(--grey-15);
  }
  .card-text {
    font-size: 16px;
    color: var(--grey-90);
  }
  .service-title {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 40px 0 40px;
  }
}

/* our works page */
@layer works {
  .card-link {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #24242420;
  }
  .work-text {
    font-size: 16px;
    color: var(--grey-60);
    font-family: 'Inter', sans-serif;
  }
  .main-content {
    padding: 0 40px 80px;
    display: flex;

    flex-direction: column;
    gap: 24px;
  }
  .works-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border: 1px solid var(--grey-15);
    max-width: 640px;
  }
  .work-title {
    padding: 24px 40px 24px 0;
    border-bottom: 1px solid var(--green-70);
    width: 100%;
  }
  .works-container {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .hero-container {
    padding-top: 80px;
  }
  .link-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid var(--grey-15);
  }
}

/* process page */

@layer process {
  .steps-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 80px;
  }
  .process-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .process-card {
    padding: 80px 40px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid var(--grey-15);
  }
  .process-card-title {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .numbered-text {
    font-size: 120px;
    color: var(--green-80);
  }
  .process-card-title .services-subheading {
    width: 100%;
    border-bottom: 1px solid var(--grey-15);
    padding-bottom: 12px;
  }
}

/* about us */

@layer about-us {
  .aboutus-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    gap: 100px;
    border: 1px solid var(--grey-15);
  }
  .aboutus-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .aboutus-container .services-subheading {
    color: var(--green-80);
  }
  .about-us-cta {
    padding: 60px;
    border: 1px solid var(--grey-15);
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .about-us-cta .services-subheading {
    color: var(--grey-60);
    padding: 0;
  }
  .first-row {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .second-row {
    padding: 20px 30px;
    background-color: #24242420;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--grey-15);
    border-radius: 10px;
  }
  .second-row-title {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .second-row .card-text {
    padding: 10px 14px;
    border-radius: 6px;
    background-color: var(--grey-15);
  }
}
@layer careers {
  .careers .numbered-text {
    font-size: 32px;
    border-bottom: 1px solid var(--grey-15);
    padding-bottom: 40px;
    width: 100%;
  }
  .careers-container {
    padding-top: 40px;
  }
  .careers-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
  .careers-card {
    max-width: 426px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 1px solid var(--grey-15);
    gap: 30px;
  }
  .careers-card img {
    justify-self: flex-start;
    align-self: flex-start;
  }
  .careers-card .secondary-btn {
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
  .careers .careers-card .services-subheading {
    padding: 0;
    color: var(--white);
  }
  .careers-container img {
    width: 64px;
    height: 64px;
  }
}

/* contact page */
@layer contact {
  .info-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    gap: 20px;
    border-bottom: 1px solid var(--grey-15);
  }
  .info-contact .contact-info {
    padding: 14px 20px;
    background-color: var(--grey-15);
    border-radius: 6px;
  }
  .contact-footer-left {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .contact-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 50px;
    width: 100%;
  }
}

/* hero section home page */
@media (max-width: 768px) {
  /* navbar */
  .header {
    padding: 40px 16px 20px 16px;
    z-index: 100000;
    position: fixed;
    top: 0;
    opacity: 1;
    width: 100%;
  }
  .scrolled {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .primary-nav {
    flex-direction: column;
  }
  .navbar {
    position: fixed;
    right: -100%;
    top: 17%;
    padding: 30px 0 5px 0;
    flex-direction: column;
    width: 100%;
    background-color: hsla(0, 0%, 14%, 0.959);
    padding-bottom: 20px;
    text-align: center;
    opacity: 0;
    gap: 24px;
    transition: all 0.5s ease-in-out;
  }
  .navbar.active {
    opacity: 1;
    right: 0;
    top: 17%;
  }
  .navbar-btn {
    display: block;
  }

  /* hero homepage */
  .hero {
    margin-top: 100px;
  }
  .content-title {
    padding: 0 16px;
  }
  .primary-heading {
    text-align: center;
  }
  .for-starters {
    display: none;
  }
  .for-starters-mobile {
    display: block;
  }
  .client-bottom {
    flex-direction: column;
    justify-content: center;
  }

  .for-starters-mobile .subtext {
    text-align: center;
  }
  .content-header {
    top: -7%;
    left: 30%;
  }
  .company-logo {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }
  .company-logo img {
    padding: 30px;
    border: 1px solid var(--grey-15);
  }
  .section-title {
    padding: 50px 16px;
  }

  /* services homepage */
  .card-container {
    flex-direction: column;
  }
  .services-card {
    max-width: 100%;
  }
  /* why-us */
  .why-card-container {
    grid-template-columns: 1fr;
  }
  .wu-card {
    border-bottom: 1px solid var(--grey-15);
  }
  /* testimonial */

  .client-container {
    grid-template-columns: 1fr;
  }
  .client-card {
    border-bottom: 1px solid var(--grey-15);
  }
  /* faq */
  .faq-card-container {
    grid-template-columns: 1fr;
  }
  .none {
    display: none;
  }
  .sub-heading {
    text-align: center;
  }
  /* form */
  .form-container {
    padding: 0;
  }
  .contact-form-container {
    padding: 24px;
    align-items: normal;
  }
  .message {
    margin-bottom: 40px;
  }
  /* footer */
  .footer {
    padding: 30px 16px;
  }
  .footer-container {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer-left {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer-contact {
    flex-direction: column;
    row-gap: 30px;
  }

  /* services page */

  .hero-services {
    margin-top: 100px;
  }
  .card-wrapper {
    grid-template-columns: 1fr;
  }
  .hero-works {
    margin-top: 100px;
  }
  .process-hero {
    margin-top: 100px;
  }
  .contact {
    margin-top: 100px;
  }
  .about-us-cta {
    padding: 30px 16px;
  }

  .second-row {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .second-row-title {
    flex-direction: column;
  }
  .second-row-title .card-text {
    text-align: center;
  }
  .careers {
    margin-top: 100px;
  }
  .careers-wrapper {
    flex-direction: column;
  }
  .careers-card {
    max-width: 100%;
  }
  .aboutus {
    margin-top: 100px;
  }
  .aboutus-hero {
    flex-direction: column;
    padding: 30px 16px;
    gap: 20px;
  }
  .aboutus-left {
    width: 100%;
  }
  /* work page */

  .link-description {
    width: 100%;
  }
  .main-content {
    padding: 0 20px 40px;
  }
  .link-description p {
    font-size: 12px;
  }
  /* contact page */
  .info-contact {
    padding: 20px 0;
    flex-direction: column;
  }
  .contact-footer {
    padding: 16px;
    flex-direction: column;
    gap: 20px;
  }
  .contact-footer .socials img {
    width: 30px;
    height: 30px;
  }
  .fullName-email {
    flex-direction: column;
  }
  .message {
    padding: 20px;
  }
  .budget-range {
    padding: 20px 16px 60px 16px;
  }
  .check {
    padding: 20px;
  }
  .check-container {
    grid-template-columns: 1fr;
  }
}
@media screen and(min-width: 480px) {
  .content-header {
    left: 18%;
  }
  .section-title {
    padding: 16px;
  }
  .profile {
    flex-direction: column;
  }
  .profile p {
    text-align: center;
  }
  .client-bottom {
    gap: 12px;
  }
  .client-card {
    padding: 20px;
  }
  .footer-nav {
    flex-wrap: wrap;
  }
  .sub-heading {
    font-size: 22px;
  }
  .navbar {
    top: 13%;
  }

  .navbar.active {
    top: 13%;
  }
}
